<ion-header-bar>
  <h1 class="title">My Sample App</h1>
</ion-header-bar>
<ion-content padding="true">
  <!-- <button class="button button-block" ng-click="openAlert()">Alert me!</button> -->
  My geolocation: <br /> 
  Latitude: {{position.coords.latitude}} <br /> 
  Longitude: {{position.coords.longitude}} <br />
  Altitude: {{position.coords.altitude}} <br />
  Accuracy: {{position.coords.accuracy}} <br />
  Altitude Accuracy: {{position.coords.altitudeAccuracy}} <br />
  Heading: {{position.coords.heading}} <br />
  Speed: {{position.coords.speed}} <br />
  Timestamp: {{position.timestamp}} <br />
</ion-content>